.gallery-page {
  background-color: #ffe6e6;
  padding: 20px;
  text-align: center;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 200px;
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.product-card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.view-details-2 {
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 14px;
}

.cart-button, .like-button {
  background-color: white;
  color: #ff69b4;
  border: 1px solid #ff69b4;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}
