header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px; 
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.header .icons {
  display: flex;
  align-items: center;
}

.header .icons a {
  margin-left: 15px; 
  text-decoration: none; 
}

.header .icons a:last-child {
  margin-right: 0; 
}

.logout-button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff69b4;
}
