.product-page{
  background-color:#ffe6e6; 
  min-height: 100vh;
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  padding: 0;
  
}

.product-card-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; 
}

.product-image-section {
  flex: 1;
  padding: 10px;
}

.product-image-section img {
  width: 100%; 
  height: 100%;
  border-radius: 8px;
}

.product-info-section {
  flex: 2;
  padding: 10px;
}

.product-info-section h2 {
  margin: 10px 0;
}

.product-info-section p {
  margin: 5px 0;
}

.product-actions {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
}

.like-button, .cart-button, .back-button {
  border: 1px solid #ff69b4; 
  border-radius: 8px;
  padding: 8px 10px;
  background: none; 
  color: #ff69b4; 
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-button:hover, .cart-button:hover, .back-button:hover {
  background-color: #ff85c0;
}

.like-button span, .cart-button span {
  margin-right: 5px;
}
